@model PSS.Models.City
@using PSS.Utils.Constants

@{
    ViewBag.Title = View.Details;
}

<h2>@View.Details</h2>

<div>
    <h4>@Html.DisplayNameForModel()</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.State.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(View.Edit, "Edit", new { id = Model.Id }) |
    @Html.ActionLink(View.BackToList, "Index")
</p>
